#################
## Custom
#################

.idea
.vagrant
projectindex.json
addondata.json
deletemappeddrives.bat
/puphpet.zip
/puphpet/files
/!puphpet/files/*/empty
/puphpet/files/dot/ssh
/puphpet/puppet/
/puphpet/shell/
/puphpet/ruby/
/puphpet/vagrant/

/html
/node_modules
/sql
/facturen
/orderbestanden
/calculaties
/logs

profiling/
printshop-component/

logs
uploads
temp
tmp

###include printshop
default/*
!default/administrator/
default/administrator/*
!default/administrator/components/
default/administrator/components/*
!default/administrator/components/com_rsform/
default/administrator/components/com_rsform/*
!default/administrator/components/com_rsform/assets
default/administrator/components/com_rsform/assets/*
!default/administrator/components/com_rsform/assets/images
default/administrator/components/com_rsform/assets/images/*
!default/administrator/components/com_rsform/assets/images/layouts
!default/administrator/components/com_rsform/layouts
!default/administrator/components/com_rsform/views
default/administrator/components/com_rsform/views/*
!default/administrator/components/com_rsform/views/forms
default/administrator/components/com_rsform/views/forms/*
!default/administrator/components/com_rsform/views/forms/tmpl
!default/administrator/components/com_widgetkit/
default/administrator/components/com_widgetkit/*
!default/administrator/components/com_widgetkit/vendor
default/administrator/components/com_widgetkit/vendor/*
!default/administrator/components/com_widgetkit/vendor/yootheme
default/administrator/components/com_widgetkit/vendor/yootheme/*
!default/administrator/components/com_widgetkit/vendor/yootheme/framework
default/administrator/components/com_widgetkit/vendor/yootheme/framework/*
!default/administrator/components/com_widgetkit/vendor/yootheme/framework/plugins
default/administrator/components/com_widgetkit/vendor/yootheme/framework/plugins/*
!default/administrator/components/com_widgetkit/vendor/yootheme/framework/plugins/joomla
default/administrator/components/com_widgetkit/vendor/yootheme/framework/plugins/joomla/*
!default/administrator/components/com_widgetkit/vendor/yootheme/framework/plugins/joomla/src
default/administrator/components/com_widgetkit/vendor/yootheme/framework/plugins/joomla/src/*
!default/administrator/components/com_widgetkit/vendor/yootheme/framework/plugins/joomla/src/JoomlaPlugin.php

!default/administrator/language/
default/administrator/language/*
!default/administrator/language/nl-NL/
default/administrator/language/nl-NL/*
!default/administrator/language/nl-NL/nl-NL.com_bixprintshop*
!default/administrator/language/nl-NL/nl-NL.mod_bps*
!default/administrator/language/nl-NL/nl-NL.plg_bix*
!default/administrator/language/nl-NL/nl-NL.plg_search_bix*
!default/administrator/language/nl-NL/nl-NL.plg_system_bix*
!default/administrator/language/nl-NL/nl-NL.plg_user_bps*
!default/language/
default/language/*
!default/language/nl-NL/
default/language/nl-NL/*
!default/language/nl-NL/nl-NL.com_bixprintshop.ini
!default/language/nl-NL/nl-NL.mod_bps*

###custom
!default/templates/
default/templates/*
!default/templates/yoo_digit


